---
mysql_root_password: $fakepass
mysql_gerrit_user: gerrit
mysql_gerrit_password: $fakepass
jenkins_jobs_password: $fakepass
jenkins_ssl_cert_file_contents: |
 $fakecert
jenkins_ssl_key_file_contents: |
 $fakekey
jenkins_ssl_chain_file_contents: |
 $fakecert
jenkins_ssh_private_key_contents: |
 $fakesshkey
