---
mysql_root_password: $fakepass
mysql_gerrit_password: $fakepass
jenkins_jobs_password: $fakepass
fake_ssl_cert_file_contents: |
 $fakecert
fake_ssl_key_file_contents: |
 $fakekey
fake_ssl_chain_file_contents: |
 $fakecert
fake_rsa_ssh_private_key_contents: |
 $fakersasshkey
fake_rsa_ssh_public_key_contents: |
 $fakersasshkeypub
fake_dsa_ssh_private_key_contents: |
 $fakedsasshkey
fake_dsa_ssh_public_key_contents: |
 $fakedsasshkeypub
